{% extends 'admin_lte/base.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
<h2>Confirm Delete</h2>
<p>Are you sure you want to delete <strong>{{ object.produk.nama_produk }}</strong> ordered by <strong>{{ object.user.username }}</strong>?</p>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Yes, Delete</button>
  <a href="{% url 'order-list' %}" class="btn btn-secondary">Cancel</a>
</form>
</div>
</div>
{% endblock %}
